.customcss>h1 {
  text-align: center;
  color: white;
  font-family: 'Monoton', cursive;
  text-decoration: underline red;
  transition: 2s;
}

.media {
  background-image: url('images/professional-firefighter-dressed-uniform-oxygen-mask-standing-fire-sparks-smoke-dark-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding-top: 300px;
  padding-bottom: 300px;

}

.customcss>p {
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: 2s;
  text-align: center;
  text-decoration: overline solid 3px red;
}

.aboutus>h1 {
  border-bottom: 3px solid red;
  border-top: 3px solid red;
  transition: 2s;
}

.aboutuss>h3 {
  border-bottom: 3px solid red;
  border-top: 3px solid red;
  transition: 2s;
}

.aboutuss>p {
  transition: 2s;
}

.div_aboutus {
  margin-top: 20px;
  background-image: url('images/fire.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bgimg_safetyinstructor {
  background-image: url('./images/WhatsApp\ Image\ 2023-01-04\ at\ 2.45.16\ AM.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;


}

.for_shadow {
  box-shadow: 10px 10px 10px 5px black;
  background-color: orange
}

.for_hover:hover {

  padding: 40px;
  transition: 1.5s;
  transform: scale(1.3);
}

textarea:focus {
  background-color: white;
}

input:focus {
  background-color: white;
}

input:hover {
  transform: scale(1.5);
}

textarea:hover {
  transform: scale(1.5);
}

input {
  background-color: rgb(246, 188, 140);
  padding: 10px 10px 10px 20px;
  border-color: brown;
  border-radius: 25px;
}

textarea {
  background-color: rgb(246, 188, 140);
  border-color: brown;
  padding: 10px 10px 10px 20px;
}

.for_border {
  border: 10px solid brown;
}

.brand {
  border-bottom: 3px solid red;
  border-top: 3px solid red;
}

.color>p {
  background-color: rgba(254, 0, 0, 0.2);
  color: white;
  font-size: 30px;
  /* text-decoration: underline red; */
  text-align: center;
}

.colorr>p {
  text-shadow: 50px 50px 50px 50px 50px red;
  text-decoration: underline red;
  border-bottom: 5px solid red;
}

.parent {
  background-color: rgba(254, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .bgimg_safetyinstructor {
    background-image: url('./images/pic.jpeg');
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .media {
    background-image: url('./images/pexels-michael-noel-4741693.jpg');
    width: 100%;
  }
}

/* .color>p{
    color: white;
}
*{
    box-sizing: border-box;
  }
  
  body{
    background:#92bde7;
    color:#485e74;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em;
  } */
/*   
  .container{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
  } */

/* ul{
    list-style: none;
    padding:0;
  }
  
  .brand{
    text-align: center;
  }
  
  span{
    color:black;
  }
  
  .wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  }
  
  .wrapper > *{
    padding: 1em;
  }
  
  .company-info{
    background:#e93414;
  }
  
  .company-info h3, .company-info ul{
    text-align: center;
    margin:0 0 1rem 0;
  }
  
  .contact{
    background:#fcb68a;
  }
  
  /* FORM STYLES */
/* .contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
  }
  
  .contact form label{
    display:block;
  }
  
  .contact form p{
    margin:0;
  }
  
  .contact form .full{
    grid-column: 1 / 3;
  }
  
  .contact form button, .contact form input, .contact form textarea{
    width:100%;
    padding:1em;
    border:1px solid #df3711;
  }
  
  .contact form button{
    background:#f14511;
    border:0;
    text-transform: uppercase;
  }
  
  .contact form button:hover,.contact form button:focus{
    background:#f74e0b;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
  }
  
  .alert{
    text-align: center;
    padding:10px;
    background:#79c879;
    color:#fff;
    margin-bottom:10px;
    display:none;
  }
  
  /* LARGE SCREENS */
/* @media(min-width:700px){
    .wrapper{
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  
    .wrapper > *{
      padding:2em;
    }
  
    .company-info h3, .company-info ul, .brand{
      text-align: left;
    }
  } */